// We are going to use sass to manage our requires, dont use sprockets
@import "fonts";
@import "shared";
@import "defaults/**/*";

.center {
  text-align: center;
}

.error-page {
  margin-bottom: 50px;

  h1 {
    font-family: 'brain flower';
    font-size: 100px;
  }

}