#banner.background.background-1
.container
  #highlights
    %ul
      %li
        .inner
          highlight 1
      %li
        .inner
          highlight 2
      %li
        .inner
          highlight 3
.container
  #content
    #left
      #feature-video
        %h1
          %span.inner Feature Video
        %iframe{ width: 555, height: 312, src: "//www.youtube.com/embed/ZXqzo06DPaI?wmode=transparent", frameborder: "0", allowfullscreen: true, wmode: "Opaque" }
        .pull-right
          = link_to 'view all videos', '//www.youtube.com/user/carlypaigemusic'
    #right
      %h1
        %span.inner right content
:coffee
  delayLoop(5000, cycle_image)
