#top
  .container
    #header
      = link_to 'Carly Paige', '/', id: 'logo'
.container
  #highlights
    %ul
      %li
        .inner
          highlight 1
      %li
        .inner
          highlight 2
      %li
        .inner
          highlight 3

