#banner
.container
  #highlights
    %ul
      %li
        .inner
          highlight 1
      %li
        .inner
          highlight 2
      %li
        .inner
          highlight 3
.container
  #content
    #left
      %h1
        %span.inner left content
    #right
      %h1
        %span.inner right content