#top
  #header.container
    = link_to 'Carly Paige', '/', id: 'logo'
#highlights.container
  %ul
    %li
      .inner
        highlight 1
    %li
      .inner
        highlight 2
    %li
      .inner
        highlight 3

