@import 'bootstrap/variables';

.background {
  background-attachment: fixed;
  background-repeat:     no-repeat;
  transition:            background-image 2s;
}

$bg-count: 3;

@for $n from 1 through $bg-count {
  $image-path: 'bg-#{$n}.jpg';

  .background-#{$n} {
    background-image: url($image-path);
  }

  @for $size from 0px - image-width('/assets/images/' + $image_path) through 0px - 100px {
    $size: 0px - $size;
    @if $size % 100 == 0 {
      @media (max-width: $size) {
        .background-#{$n} {
          background-image: url(sized_image($image-path, $size));
        }
      }
    }
  }
}