#banner {
  position: relative;
  padding-top:   115px;
  z-index:       97;
  height:        700px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  .banner {

    display: none;
    height: 100%;

    &.active {
      display: block;
    }

  }
}