#banner {
  $banner-height: 600px;
  position: relative;
  z-index:       97;
  height:        $banner-height;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  .banner {

    display: none;
    height: 100%;

    &.active {
      display: block;
    }

  }

  .nav {
    @extend .clearfix;
    @extend .container;
    display: block;
    position: relative;
    margin-top: -($banner-height / 2) - 22px;
  }

  .next {
    margin-right: -43px;
    @extend .pull-right;
  }

  .previous {
    margin-left: -43px;
    @extend .pull-left;
  }
}