@import 'shared';

#header {
  @extend #background;
  background-attachment: scroll;
  z-index:               99;
  width:                 100%;
  height:                115px;
  position:              fixed;

  // Logo stuff
  $logo-padding: 10px;
  $logo-size: 95px;

  nav {
    @extend .clearfix;
    background-color: rgba(255, 255, 255, 0.5);
    font-size:        1.2em;
    font-family:      'Neou';
    font-weight:      bold;

    img#logo {
      @extend .pull-left;
      padding-left: $logo-padding;
      padding-top:  $logo-padding;
      height:       $logo-size + ($logo-padding * 2);
    }

    #header-nav {
      @extend .pull-right;
      margin-right: 15px;

      ul {
        @extend .clearfix;
        list-style:  none;
        text-indent: none;
        margin:      0px;

        li {
          float: left;
          &:last-child { margin-right: 0 !important }
        }
      }

      #nav-links {
        @extend .clearfix;
        margin-top: 20px;
        ul {
          @extend .pull-right;
          li { margin-right: 5px; }
        }
      }

      #nav-menu {
        margin-top: 20px;

        li {
          margin-right: 30px;

          a {
            color:          #444;
            display:        block;
            border-bottom:  3px transparent solid;
            transition:     border-bottom 0.5s;
            padding-bottom: 0px;
            &:hover {
              text-decoration: none;
              border-bottom:   3px solid rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}
