$header-size: 115px;

#header {
  background-color: rgb(255, 255, 255);
  z-index:               99;
  width:                 100%;
  height:                $header-size;
  position:              fixed;
  border-bottom:    1px solid rgba(0, 0, 0, 0.5);;

  nav {
    @extend .clearfix !optional;
    font-size:        1.2em;
    font-family:      'Neou';
    font-weight:      bold;

    #header-nav {
      @extend .pull-right !optional;
      margin-right: 15px;

      ul {
        @extend .clearfix !optional;
        list-style:  none;
        text-indent: none;
        margin:      0px;

        li {
          float: left;
          &:last-child { margin-right: 0 !important }
        }
      }

      #nav-links {
        @extend .clearfix !optional;
        margin-top: 20px;
        ul {
          @extend .pull-right !optional;
          li { margin-right: 5px; }
        }
      }

      #nav-menu {
        margin-top: 20px;

        li {
          margin-right: 30px;

          a {
            color:          #444;
            display:        block;
            border-bottom:  3px transparent solid;
            transition:     border-bottom 0.5s;
            padding-bottom: 0px;
            &:hover {
              text-decoration: none;
              border-bottom:   3px solid rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }
}
