@import 'fonts';

.logo {
  a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
  }
  span {
    &.carly {
      font-family: 'Admiration Pains';
    }
    &.paige {
      font-size: 1.8em;
      font-family: 'Brain Flower'
    }
  }
}